<div class="container">
<% @list.movies.each do |movie| %>
  <div class="card-movie">
    <%= image_tag movie.poster_url, alt: movie.title %>
    <div class="card-movie-infos">
      <div>
        <h2><%= movie.title %></h2>
        <p><%= movie.overview %></p>
      </div>
      <h2 class="card-movie-pricing"><%= movie.rating %></h2>
    </div>
  </div>
<% end %>
</div>
