<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://cdn.dribbble.com/users/1251217/screenshots/16831509/media/24586a56bfa63fab11a2713518f3a4e4.jpg?compress=1&resize=1200x900);">
  <div class="container">
    <h1>Godzilla brings <strong>good times</strong> to <strong>bored people</strong>!</h1>
    <p>Change your life and start watching movies now.</p>
    <a class="btn btn-flat" href="#">Search now</a>
  </div>
</div>
